[submodule "ConvertData"]
	path = ConvertData
	url = https://github.com/Gustavo-SF/ConvertData.git

[submodule "Deploy-Azure-DB"]
	path = Deploy-Azure-DB
	url = https://github.com/Gustavo-SF/Deploy-Azure-DB.git

[submodule "Material-Search"]
	path = Material-Search
	url = https://github.com/Gustavo-SF/Material-Search.git
